<div class="row marketing" ng-controller="AuthCtrl as auth">
  <div class="container auth-container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-success" >
        <div class="panel-heading">
          <div class="panel-title">{{authTitle}}</div>
        </div>

        <div class="panel-body" >
          <div class="row logo">
            <div class="col-lg-offset-4 col-lg-4">
              <img src="images/calories.png" style="width:100%">
            </div>
          </div>

          <form class="form-horizontal" role="form">
            <div ui-view class="animated fadeIn"></div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
