<div class="row m-b">
  <div class="col-md-4 m-b">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-filter"></i> Filter</h4>
      </div>
      <div class="panel-body">
        <form class="form-inline form-filter">
          <div class="form-group">
            <label style="min-width: 55px;">Date: </label>
            <div class="input-group input-group-sm">
              <span class="input-group-addon">From</span>
              <input type="datetime" class="form-control" date-time ng-model="main.filter.from_date"
                view="date" min-view="date" auto-close="true" format="yyyy-MM-dd">
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon">To</span>
              <input type="datetime" class="form-control" date-time ng-model="main.filter.to_date"
                view="date" min-view="date" auto-close="true" format="yyyy-MM-dd">
            </div>
          </div>
          <div class="form-group">
            <label style="min-width: 55px;">Time: </label>
            <div class="input-group input-group-sm">
              <span class="input-group-addon">From</span>
              <input class="form-control" ui-timepicker ng-model="main.filter.from_time">
            </div>
            <div class="input-group input-group-sm">
              <span class="input-group-addon">To</span>
              <input class="form-control" ui-timepicker ng-model="main.filter.to_time">
            </div>
          </div>
        </form>
      </div>
      <div class="panel-footer">
        <div class="btn-group btn-group-sm" role="group">
          <a class="btn btn-success" ng-click="main.applyFilter()"><i class="fa fa-check"></i> Apply</a>
          <a class="btn btn-default" ng-click="main.clearFilter()"><i class="fa fa-ban"></i> Clear</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          <i class="fa fa-list"></i> Meal List
        </uib-tab-heading>
        <div class="m-t" infinite-scroll="main.loadMore()"
            infinite-scroll-disabled="main.noMore || main.loading">

          <uib-accordion close-others="false">
            <uib-accordion-group ng-repeat="d in main.dates" panel-class="panel-success" calorie-date="{{d}}">
              <uib-accordion-heading>
                {{ d|date:'MMM dd, yyyy' }}
                <span class="pull-right"> Total: {{ main.sumDateCal(d) }} (cal)</span>
              </uib-accordion-heading>
              <div class="row" ng-repeat="m in main.meals[d]" ng-class-even="'li-even'">
                <div class="col-md-2 m-t-xs m-b-xs text-right">
                  <i>{{ m.meal_time_str }}</i>
                </div>
                <div class="col-md-5 m-t-xs m-b-xs">
                  {{ m.what }}
                </div>
                <div class="col-md-3 m-t-xs m-b-xs">
                  {{ m.calorie }}
                </div>
                <div class="col-md-2 m-t-xs m-b-xs text-info text-right">
                  <span class="pointer"><i class="fa fa-pencil-square-o fa-fw"></i></span>
                  <span class="pointer" ><i class="fa fa-trash-o fa-fw"></i></span>
                </div>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </uib-tab>
      <uib-tab>
        <uib-tab-heading>
          <i class="fa fa-plus"></i> New Meal
        </uib-tab-heading>
      </uib-tab>
    </uib-tabset>
    <!--
    <div>
      <a class="btn btn-default btn-sm btn-block">
        More <i class="fa fa-angle-double-down"></i>
      </a>
    </div>
    -->
  </div>

</div>
