<div class="row">
  <div class="col-md-4 profile-left">
    <div class="profile-avatar">
      <img src="images/calories.png" align="center" alt="I'm Yeoman">
    </div>
    <div class="profile-email">
      <i class="fa fa-envelope fa-fw"></i> {{ user.email || 'email@sample.com' }}
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Personal Settings</h4>
      </div>
      <div class="panel-body text-muted">
        <div class="row m-b">
          <div class="col-sm-4">
            <strong>Display Name</strong>
          </div>
          <div class="col-sm-8">
            <a href='' editable-text="prof.profile.display_name" onbeforesave="prof.update(prof.profile, 'display_name', $data)">
              {{ prof.profile.display_name || 'Click to Edit' }}
            </a>
          </div>
        </div>
        <div class="row m-b">
          <div class="col-sm-4">
            <strong>Gender</strong>
          </div>
          <div class="col-sm-8">
            <a href='' editable-select="prof.profile.gender" e-ng-options="g.value as g.text for g in prof.genders" onbeforesave="prof.update(prof.profile, 'gender', $data)">
              {{ prof.showGender() || 'Click to Select' }}
            </a>
          </div>
        </div>
        <div class="row m-b">
          <div class="col-sm-4">
            <strong>Age</strong>
          </div>
          <div class="col-sm-8">
            <a href='' editable-number="prof.profile.age" onbeforesave="prof.update(prof.profile, 'age', $data)">
              {{ prof.profile.age || 'Click to Edit' }}
            </a>
          </div>
        </div>
        <div class="row m-b">
          <div class="col-sm-4">
            <strong>Calories per Day</strong>
          </div>
          <div class="col-sm-8">
            <a href='' editable-number="prof.profile.cal_per_day" onbeforesave="prof.update(prof.profile, 'cal_per_day', $data)">
              {{ prof.profile.cal_per_day || 'Click to Edit' }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
