<div class="input-group">
  <span class="input-group-addon">
    <i class="fa fa-envelope fa-fw"></i>
  </span>
  <input name="email" type="email" class="form-control" ng-model="register.form.email" placeholder="Email">
</div>

<one-password-input password-var="register.form.password1" place-holder="Password" icon="fa-lock"></one-password-input>

<div style="margin-top:10px" class="form-group">
  <div class="col-sm-12 controls">
    <a class="btn btn-success btn-lg btn-block" ng-click="register.submit()">Register</a>
  </div>
</div>


<div class="form-group">
  <div class="col-md-12 control">
    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
      Have an account!
      <a ui-sref="auth.login"> Login Here </a>
    </div>
  </div>
</div>
