<one-password-input password-var="confirm_reset.form.new_password1"
  enter-actiion="confirm_reset.submit()"
  place-holder="Password" icon="fa-lock">
</one-password-input>

<div style="margin-top:10px" class="form-group">
  <div class="col-sm-12 controls">
    <a class="btn btn-success btn-lg btn-block" ng-click="confirm_reset.submit()">Save New Password</a>
  </div>
</div>

<div class="form-group">
  <div class="col-md-12 control">
    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
      Have an account!
      <a ui-sref="auth.login"> Login Here </a>
    </div>
  </div>
</div>
