$body-margin-top: 82px;

$logo-width: 30px;

$margin-m: 15px;
$margin-sm: 10px;
$margin-xs: 5px;

$odd-color: #ffffff;
$even-color: #f0f0f0;

$border-style: 1px solid rgba(0, 0, 0, 0.2);
$border-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
