.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main {
  margin-top: 82px;
}

/*
.footer {
  background-color: #e7e7e7;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
*/

.auth-container {
  .panel-body {
    .logo {
      padding-top: 0;
      padding-bottom: 15px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .forgot-password {
      margin-top: 7px;
    }
  }
}

.navbar-brand {
  .logo {
    width: 30px;
    margin-top: -5px;
  }
}

.profile-left {
  // border-right: 1px solid #e0e0e0;
  margin-bottom: 20px;
  .profile-avatar {
    width: 100%;
    margin-left: 20px;
    img {
      width: 120px;
      border-radius: 50%;
    }
  }
  .profile-email {
    margin: 20px 0 20px 20px;
  }
}

.profile-list {
  padding: 0;
  .list-group-item.profile-active {
    border-left: 3px solid #4cae4c;
  }
}

.pointer {
  cursor: pointer;
}

.m {
  margin: 15px;
}
.m-sm {
  margin: 10px;
}
.m-xs {
  margin: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-b {
  margin-bottom: 15px;
}
.p-0 {
  padding: 0;
}
.p-t-0 {
  padding-top: 0;
}
.p-b-0 {
  padding-bottom: 0;
}

.li-even {
  background-color: #f0f0f0;
}
